#This Apache config file was created by Duplicator Installer on 2021-11-29 09:28:49.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /grupparbete/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /grupparbete/index.php [L]
</IfModule>
# END WordPress