form.ajax-auth{
    display: none;
    z-index: 999;
	position: fixed;
    top: 150px;
	left: 50%;
	width: 400px;
	margin-left: -200px;
    padding: 3rem;
	background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 3px rgb(0 0 0 / 5%);  
    color: #878787;
}
 
.ajax-auth h1, .ajax-auth h3{
    color: #333333;    
	line-height: 1;    
}
 
.ajax-auth h1{
    font-size: 27px;
    text-align: center;
    margin: 0 0 20px 0;
}
 
.ajax-auth h3{
    font-size: 1rem;
    text-align: center;
    margin: 0;
}
  
.ajax-auth hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0 none;
    height: 1px;
    margin: 20px 0;
}
 
.ajax-auth input#username,
.ajax-auth input#password,
.ajax-auth input#signonname,
.ajax-auth input#email,
.ajax-auth input#signonpassword,
.ajax-auth input#password2{
    border: 1px solid #EDEDED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    font-size: 15px;
    padding: 10px 10px 10px 13px;
    margin: 5px 0 10px 0;
    background-color: #F9F9F9;
}
 
.ajax-auth input#username:focus,
.ajax-auth input#password:focus,
.ajax-auth input#signonname:focus,
.ajax-auth input#email:focus,
.ajax-auth input#signonpassword:focus,
.ajax-auth input#password2:focus{
    background-color: #FFF;
}
 
.ajax-auth label.error{
	display: none !important;
}
 
.ajax-auth input.error{
	border: 1px solid #FF0000 !important;
}
 
.ajax-auth a {
    text-decoration: none;
}
 
.ajax-auth a.close{
    position: absolute;
    right: 20px;
    top: 15px;
}
 
.ajax-auth a.text-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 0.8rem;
}
 
.ajax-auth p.status{
    text-align: center;
    margin: -15px 0 20px 0;
	font-weight: 600;
    display: none;
}
 
a.login_button{
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    
}

.login_button:hover {
    color: white;
}
 
.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}

.fb_iframe_widget {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
